<div class="product-card">
  {{#if mostPopular}}
    <div class="product-card__badge">Most Popular</div>
  {{/if}}

  <img
    src="{{imageUrl}}"
    alt="{{title}}"
    class="product-card__img"
  />

  <div class="product-card__details">
    <h2 class="product-card__title">{{title}}</h2>
    <p class="product-card__description">{{description}}</p>
  </div>

  <div class="product-card__price-new">{{priceCurrent}}€</div>
  <div class="product-card__price-old">{{priceOld}}€</div>
</div>
